<div class="row">
    <div class="col-md-6" style="text-align:center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2><b>Patients</b></h2>
          <p>Click the button below to access the section in which you can create, edit and delete patients from the system. Please do not use this information for any use other than strictly professional and/or fully work related.</p>
          <p><%= link_to "View Patients", patients_path, class:"btn btn-warning btn-lg" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="text-align:center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2><b>Hospitals</b></h2>
          <p>Click the button below to view all of the details of the hospitals that are associated with our clinics. Please do not use this information for any use other than strictly professional and/or fully work related.</p>
          <p><%= link_to "View Hospitals", hospitals_path, class:"btn btn-warning btn-lg" %></p>
        </div>
      </div>
   </div>
</div>