<h1>Editing Appointment</h1>
<%= render 'form' %>
<%= link_to 'Show', patient_appointment_path(@patient, @appointment), class:'btn btn-default' %>
<%= link_to 'Back', patient_appointments_path(@patient), class:'btn btn-default' %>